* {
  margin: 0;
  padding: 0;
}

header ul {
  padding: 10px;
  padding-left: 150px;
  padding-right: 190px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgba(20, 19, 19, 0.863);
}

a {
  
  padding-top: 5px;
  font-size: 11.8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgba(230, 224, 224, 0.788);
}
.div1 {
  margin-top: 200px;
}
.li {
  padding-top: 1px;
  
}
.lise1{
  padding-top: 2.5px;
}



.kit {
  padding-top: 1.9px;
  
}
a:hover{
  color: rgba(240, 234, 234, 0.884);
  background-color: transparent;
}









